<app-mapa></app-mapa>
<!-- contact section starts here -->
<section class="contact contato">
  <div class="container">
    <div class="row">
      <div class="contact-caption clearfix">
        <div class="contact-heading text-center">
          <h2>Contato</h2>
        </div>
        <div class="col-md-5 contact-info text-left">
          <h3>informações de Contato</h3>
          <div class="info-detail">
            <ul><li><i class="fa fa-calendar"></i><span>Segunda - Sexta:</span> 9:30 as 19:00</li></ul>
            <ul><li><p><i class="fa fa-map-marker"></i><span>End:</span> Av Comendador Teles, 1758 Lt.03 Qd.06 - São João de Meriti - RJ</p></li></ul>
            <ul><li><i class="fa fa-phone"></i><span>Telefone:</span> (21) 98740-4766</li></ul>
            <ul><li><i class="fa fa-envelope"></i><span>Email:</span> contato@dtconsultoria.com.br</li></ul>
          </div>
        </div>

        <div class="col-md-6 col-md-offset-1 contact-form">

          <app-mensagem-enviada id="fadeAlert" *ngIf="mensagemEnviada == 'sucesso'"></app-mensagem-enviada>

          <h3>Deixe sua Mensagem</h3>

          <form #f="ngForm" >

            <app-input-container [ngClass]="aplicaCssErro(nome)">
              <input class="form-control"
                     [ngClass]="validaMensagem('nome')"
                     pattern="^([\'\.\^\~\´\`\\áÁ\\àÀ\\ãÃ\\âÂ\\éÉ\\èÈ\\êÊ\\íÍ\\ìÌ\\óÓ\\òÒ\\õÕ\\ôÔ\\úÚ\\ùÙ\\çÇaA-zZ]+)+((\s[\'\.\^\~\´\`\\áÁ\\àÀ\\ãÃ\\âÂ\\éÉ\\èÈ\\êÊ\\íÍ\\ìÌ\\óÓ\\òÒ\\õÕ\\ôÔ\\úÚ\\ùÙ\\çÇaA-zZ]+)+)?$"
                     type="text" name="nome" required minlength="10" #nome="ngModel"
                     [(ngModel)]="contato.nome" placeholder="Nome" autocomplete="off">
              <app-campo-control-erro [ngClass]="validaIconeInput(nome)"></app-campo-control-erro>
            </app-input-container>

            <app-input-container [ngClass]="aplicaCssErro(email)">
              <input class="form-control"
                     [ngClass]="validaMensagem('email')"
                     pattern="[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?"
                     type="email" name="email" required #email="ngModel"
                     [(ngModel)]="contato.email" placeholder="email@email.com" autocomplete="off">
              <app-campo-control-erro [ngClass]="validaIconeInput(email)"></app-campo-control-erro>
            </app-input-container>

            <app-input-container [ngClass]="aplicaCssErro(telefone)">
              <input class="form-control"
                     id="telefone"
                     [ngClass]="validaMensagem('telefone')"
                     pattern="^(\([0-9]{2}\))\d{4,5}-\d{4,5}$"
                     type="text" name="telefone" required #telefone="ngModel"
                     [(ngModel)]="contato.telefone" placeholder="Telefone" autocomplete="off">
              <app-campo-control-erro [ngClass]="validaIconeInput(telefone)"></app-campo-control-erro>
            </app-input-container>

            <app-input-container [ngClass]="aplicaCssErro(mensagem)">
              <textarea class="form-control mensagem" [ngClass]="validaMensagem('mensagem')" name="mensagem" required minlength="10" #mensagem="ngModel" [(ngModel)]="contato.msg" placeholder="Mensagem" autocomplete="off"></textarea>
              <app-campo-control-erro [ngClass]="validaIconeInput(mensagem)"></app-campo-control-erro>
            </app-input-container>

            <div class="form-group col-md-12 col-sm-12 has-error" style="padding-right: 0px; padding-left: 0px;">

              <!--Mensagem de validação de campos-->
              <app-mensagem-erro [campoInvalido]="mostraMensagem"></app-mensagem-erro>
              <!--Mensagem de validação de campos    -->

              <div class="col-md-6 col-sm-6"  style="padding-right: 0px; float: right;">
                <button (click)="enviar(f)" class="btn botao" [disabled]="!f.valid">Enviar</button>
              </div>

            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section><!-- end of contact section -->
