<app-mapa></app-mapa>
<!-- contact section starts here -->
<section class="contact contato">
  <div class="container">
    <div class="row">
      <div class="contact-caption clearfix">
        <div class="contact-heading text-center">
          <h2>Contato</h2>
        </div>
        <div class="col-md-5 contact-info text-left">
          <h3>informações de Contato</h3>
          <div class="info-detail">
            <ul><li><i class="fa fa-calendar"></i><span>Segunda - Sexta:</span> 9:30 as 19:00</li></ul>
            <ul><li><p><i class="fa fa-map-marker"></i><span>End:</span> Av Comendador Teles, 1758 Lt.03 Qd.06 - São João de Meriti - RJ</p></li></ul>
            <ul><li><i class="fa fa-phone"></i><span>Telefone:</span> (21) 98740-4766</li></ul>
            <!--<ul><li><i class="fa fa-fax"></i><span>Fax:</span> (123) 984-1234</li></ul>-->
            <ul><li><i class="fa fa-envelope"></i><span>Email:</span> contato@dtconsultoria.com.br</li></ul>
          </div>
        </div>

        <div class="col-md-6 col-md-offset-1 contact-form">
          <h3>Deixe sua Mensagem</h3>

          <!--<div class="alert alert-danger alert-dismissible" role="alert">-->
          <!--<button type="button" class="close" data-dismiss="alert" aria-label="Close">-->
          <!--<span aria-hidden="true">&times;</span>-->
          <!--</button>-->

          <!--</div>-->


          <h4>{{ f.valid }} {{ f.value | json }}</h4>

          <form #f="ngForm" (ngSubmit)="enviar(f.value)">

            <app-input-container #iptnome>
              <input (blur)="validarCampo(iptnome)" class="form-control" type="text" name="nome" required ngModel placeholder="Nome" autocomplete="off">
            </app-input-container>

            <app-input-container #itpemail>
              <input (blur)="validarCampo(itpemail)" class="form-control" type="email" email="true"  name="email" required ngModel placeholder="Email" autocomplete="off">
            </app-input-container>

            <app-input-container #itptelefone>
              <input (blur)="validarCampo(itptelefone)" class="form-control" type="text" name="telefone" required ngModel placeholder="Telefone" autocomplete="off">
            </app-input-container>

            <app-input-container #iptmensagem>
              <textarea (blur)="validarCampo(iptmensagem)" class="form-control mensagem" name="mensagem" required minlength="5" ngModel placeholder="Mensagem" autocomplete="off"></textarea>
            </app-input-container>

            <!-- Mensagem de validação de campos -->
            <div class="form-group col-md-12 col-sm-12 has-error" style="padding-right: 0px; padding-left: 0px;">
              <div *ngIf="!inptutEstaValido" class="col-md-6 col-sm-6" style="padding-left: 0px;">
                <h4 style="color: red;"><span class="glyphicon glyphicon-asterisk" aria-hidden="true"></span> Campo <strong>{{nomeDocampo}}</strong> inválido! </h4>
              </div>
               <!--Mensagem de validação de campos -->

              <div class="col-md-6 col-sm-6"  style="padding-right: 0px; float: right;">
                <button type="submit" class="btn botao" [disabled]="!f.valid">Enviar</button>
              </div>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
</section><!-- end of contact section -->
