<ng-content></ng-content>
<!-- contact section starts here -->
<section class="contact contato">
  <div class="container">
    <div class="row">
      <div class="contact-caption clearfix">
        <div class="contact-heading text-center">
          <h2>Contato</h2>
        </div>
        <div class="col-md-5 contact-info text-left">
          <h3>informações de Contato</h3>
          <div class="info-detail">
            <ul><li><i class="fa fa-calendar"></i><span>Segunda - Sexta:</span> 9:30 as 19:00</li></ul>
            <ul><li><p><i class="fa fa-map-marker"></i><span>End:</span> Av Comendador Teles, 1758 Lt.03 Qd.06 - São João de Meriti - RJ</p></li></ul>
            <ul><li><i class="fa fa-phone"></i><span>Telefone:</span> (21) 98740-4766</li></ul>
            <!--<ul><li><i class="fa fa-fax"></i><span>Fax:</span> (123) 984-1234</li></ul>-->
            <ul><li><i class="fa fa-envelope"></i><span>Email:</span> contato@dtconsultoria.com.br</li></ul>
          </div>
        </div>

        <!--<h4>{{ f.valid }}-->
        <!--{{ f.value | json }}</h4>-->
        <div class="col-md-6 col-md-offset-1 contact-form">
          <h3>Deixe sua Mensagem</h3>

          <div class="alert alert-danger alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>

          </div>

          {{ f.valid }}
          {{ f.value | json }}

          <form #f="ngForm" novalidate (ngSubmit)="enviar(f)">
            <div class="form-group"
                 [class.has-error]="!nome.valid && nome.touched"
                  [class.has-feedback]="!nome.valid && nome.touched">
              <input class="form-control" type="text" name="nome" required
                     [(ngModel)]="contato.nome" placeholder="Nome"
                     #nome="ngModel">
              <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true" *ngIf="!nome.valid && nome.touched"></span>
              <span id="nome" class="sr-only" *ngIf="!nome.valid && nome.touched">(error)</span>
              <div class="alert alert-danger" role="alert" *ngIf="!nome.valid && nome.touched">Nome é obrigatório.</div>
            </div>

            <div class="form-group"
                 [class.has-error]="!email.valid && email.touched"
                 [class.has-feedback]="!email.valid && email.touched">
              <input class="form-control email" type="email" name="email" required email [(ngModel)]="contato.email" placeholder="Email" #email="ngModel">
              <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true" *ngIf="!email.valid && email.touched"></span>
              <span id="email" class="sr-only" *ngIf="!email.valid && email.touched">(error)</span>
              <div class="alert alert-danger" role="alert" *ngIf="!email.valid && email.touched">Email é obrigatório.</div>
            </div>

            <div class="form-group"
                 [class.has-error]="!telefone.valid && telefone.touched"
                 [class.has-feedback]="!telefone.valid && telefone.touched">
              <input class="form-control phone" type="text" name="telefone" required [(ngModel)]="contato.telefone" placeholder="Telefone" #telefone="ngModel">
              <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true" *ngIf="!email.valid && email.touched"></span>
              <span id="telefone" class="sr-only" *ngIf="!telefone.valid && telefone.touched">(error)</span>
              <div class="alert alert-danger" role="alert" *ngIf="!telefone.valid && telefone.touched">Telefone é obrigatório.</div>
            </div>
            <div class="form-group"
                 [class.has-error]="!mensagem.valid && mensagem.touched"
                 [class.has-feedback]="!mensagem.valid && mensagem.touched">
              <textarea class="form-control message" name="message" name="mensagem" required minlength="10"
                        [(ngModel)]="contato.msg" id="message" cols="30" rows="10" placeholder="Mensagem" #mensagem="ngModel"></textarea>
              <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true" *ngIf="!mensagem.valid && mensagem.touched"></span>
              <span id="mensagem" class="sr-only" *ngIf="!mensagem.valid && mensagem.touched">(error)</span>
              <div class="alert alert-danger" role="alert" *ngIf="!mensagem.valid && mensagem.touched">Mensagem é obrigatório.</div>
            </div>
            <button class="botao">Enviar</button>

          </form>
        </div>
      </div>
    </div>
  </div>
</section><!-- end of contact section -->