<!-- team section -->
<section class="team" id="team">
  <div class="container">
    <div class="row">
      <div class="team-heading text-center">
        <h2>Produtos</h2>
        <h4>Planos com um atendimento pleno, que
          oferecem cobertura nacional em uma rede credenciada abrangente e de alto nível.</h4>
      </div>
      <div class="col-md-2 single-member col-sm-4">
        <div class="person">
          <img class="img-responsive" src="assets/nova/bradesco.png" alt="member-1">
        </div>
        <div class="person-detail">
          <div class="arrow-bottom"></div>
          <h3>Bradesco</h3>
          <p></p>
        </div>
      </div>

      <div class="col-md-2 single-member col-sm-4">
        <div class="person-detail">
          <div class="arrow-top"></div>
          <h3>Amil</h3>
          <p></p>
        </div>
        <div class="person">
          <img class="img-responsive" src="assets/nova/amil.png" alt="member-2">
        </div>
      </div>

      <div class="col-md-2 single-member col-sm-4">
        <div class="person">
          <img class="img-responsive" src="assets/nova/golden.png" alt="member-3">
        </div>
        <div class="person-detail">
          <div class="arrow-bottom"></div>
          <h3>Golden Cross</h3>
          <p></p>
        </div>
      </div>

      <div class="col-md-2 single-member col-sm-4">
        <div class="person-detail">
          <div class="arrow-top"></div>
          <h3>Assim</h3>
          <p></p>
        </div>
        <div class="person">
          <img class="img-responsive" src="assets/nova/assim.png" alt="member-4">
        </div>
      </div>

      <div class="col-md-2 single-member col-sm-4">
        <div class="person">
          <img class="img-responsive" src="assets/nova/unimed.png" alt="member-5">
        </div>
        <div class="person-detail">
          <div class="arrow-bottom"></div>
          <h3>Unimed</h3>
          <p></p>
        </div>
      </div>

      <div class="col-md-2 single-member col-sm-4">
        <div class="person-detail">
          <div class="arrow-top"></div>
          <h3>Sulamerica</h3>
          <p></p>
        </div>
        <div class="person">
          <img class="img-responsive" src="assets/nova/sulamerica.png" alt="member-5">
        </div>
      </div>

    </div>
  </div>
</section><!-- end of team section -->