<!-- team section -->
<section class="team produtos" id="produtos">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <div class="team-heading text-center">
          <h2>Produtos</h2>
          <h4>Planos com um atendimento pleno, que
            oferecem cobertura nacional em uma rede credenciada abrangente e de alto nível.</h4>
        </div>

        <div class="row">
            <div class="col-md-4 single-member col-sm-4" id="single-member-bradesco">
              <div class="person">
                <img class="img-responsive" src="../../assets/img/convenios/bradesco.png" alt="member-1">
              </div>
            </div>

            <div class="col-md-4 single-member col-sm-4">
              <div class="person">
                <img class="img-responsive" src="../../assets/img/convenios/amil.png" alt="member-2">
              </div>
            </div>

            <div class="col-md-4 single-member col-sm-4">
              <div class="person">
                <img class="img-responsive" src="../../assets/img/convenios/golden.png" alt="member-3">
              </div>
            </div>
        </div>

        <div class="row">
          <div class="col-md-4 single-member col-sm-4">
            <div class="person">
              <img class="img-responsive" src="../../assets/img/convenios/assim.png" alt="member-4">
            </div>
          </div>

          <div class="col-md-4 single-member col-sm-4">
            <div class="person">
              <img class="img-responsive" src="../../assets/img/convenios/unimed.png" alt="member-5">
            </div>
          </div>

          <div class="col-md-4 single-member col-sm-4">
            <div class="person">
              <img class="img-responsive" src="../../assets/img/convenios/sulamerica.png" alt="member-5">
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4 single-member col-sm-4">
            <div class="person">
              <img class="img-responsive" src="../../assets/img/convenios/notredame.png" alt="member-4">
            </div>
          </div>

          <div class="col-md-4 single-member col-sm-4">
            <div class="person">
              <img class="img-responsive" src="../../assets/img/convenios/salutar.png" alt="member-5">
            </div>
          </div>

          <div class="col-md-4 single-member col-sm-4">
            <div class="person">
              <img class="img-responsive" src="../../assets/img/convenios/samoc.png" alt="member-5">
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</section><!-- end of team section -->