<section class="plans text-center planos" id="planos">
  <div class="container">
    <div class="row">
      <h2>Nossos Planos</h2>
      <h4>Conheça abaixo as formas de contrataçao</h4>
      <div class="col-md-4 col-sm-6">
        <div class="single-plans-detail clearfix">
          <div class="plans-img">
            <img class="img-responsive" src="assets/img/plano_adesao.png" alt="">
          </div>
          <div class="plans-details">
            <div class="pentagon-text">
              <h1>A</h1>
            </div>
            <h3>Plano Adesão</h3>
            <p>Planos com descontos especiais para diversas entidades de classe.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="single-plans-detail">
          <div class="plans-img">
            <img class="img-responsive" src="assets/img/plano_empresarial.jpg" alt="">
          </div>
          <div class="plans-details">
            <div class="pentagon-text">
              <h1>E</h1>
            </div>

            <h3>Plano Empresarial</h3>
            <p>Você e seus funcionários merecem o melhor plano de saúde.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="single-plans-detail">
          <div class="plans-img">
            <img class="img-responsive" src="assets/img/plano_familiar.jpg" alt="">
          </div>
          <div class="plans-details">
            <div class="pentagon-text">
              <h1>F</h1>
            </div>
            <h3>Plano Familiar</h3>
            <p>Os melhores hospitais oferecidos para você e sua família.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>